<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Url" value=""/>
    <add key="User" value=""/>
    <add key="Passwd" value=""/>
    <add key="Temp" value=""/>
    <add key="Phonenum" value=""/>
    <add key="WebCamip" value=""/>
    <add key="WebCamport" value=""/>
    <add key="WebCamUser" value=""/>
    <add key="WebCamPasswd" value=""/>
  </appSettings>
</configuration>