<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DisPlayCount.Properties.Settings.testdbConnectionString" connectionString="Host=192.168.1.159;Database=testdb;Username=postgres;Password=331234;Persist Security Info=True" providerName="Npgsql"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
